@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap'); /*Fonte Titulos*/
@import url('https://fonts.googleapis.com/css2?family=Arapey&display=swap'); /*Fonte Corpo*/

* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

body {
    font-family: 'Arapey', sans-serif;;
    font-size: 15px;
    background-color: #101728;
    color: #fff;
}
 
.container {
    width: 100%;
    margin: auto;
    padding: 0 20px;
}

/* HEADER */

header .container {
    display: flex;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    gap: 20px
}


header .logo {
    width: 40px;
    height: 32px;
    display: flex;
    cursor: pointer;
}

header nav {
    flex: 1;
    display: flex;
    align-items: center;
    font-size: 18px;
    justify-content: space-between;
}

header nav .menu {
    display: flex;
    flex: 1;
}

header nav li {
    margin:0 30px;
}

header nav li a {
    color: #fff;
}

header nav li a:hover {
    color: #8c52ff;
}

header .menuMobile {
    display: none;
}


header .menu-icon div {
    width: 20px;
    height: 6px;
    background-color: #fff;
    border-radius: 2px;
}

header .img-perfil {
    filter: brightness(0) saturate(100%) invert(1);
    width: 40px;
    height: 40px;
    display: flex;
    cursor: pointer;
}

.linha-header {
    width: 100%;
    height: 2px;
    background-color: #3533cd;
}

/* Hero */

.hero {
    margin-bottom: 40px;
}

.hero .container {
    display: flex;
    gap: 40px; 
    padding-top: 40px;
    justify-content: center;
}

.hero .noticia {
    width: 50%;
    height: 420px;
    background-color: #28282B;
    border-radius: 12px;
    position: relative;
}

.hero .noticia a {
    font-size: 27px;
    color: #fff;
    position: absolute;
    bottom: 40px;
    left: 100px;
    width: 500px;
    overflow-wrap: break-word;
}

/* seta da noticia */

.hero .seta {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #28282B;
  border: none;
  color: #fff;
  font-size: 30px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  user-select: none;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s;
}

.hero .seta.esquerda {
  left: 10px;
}

.hero .seta.direita {
  right: 10px;
}

/* Barrarinhas que conta paginas */

.hero .indicadores-tracos {
    display: none;
}


/*  */

.hero .noticia-lateral {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.hero .noticia-pequena {
    width: 250px;
    height: 190px;
    background-color: #8c52ff;
    border-radius: 12px;
    position: relative;
}

.hero .noticia-lateral a {
    color: #fff;
    position: absolute;
    bottom: 25px;
    left: 30px;
    width: 200px;
    overflow-wrap: break-word;
}

/* linha que separa o hero da main */

.linha-separadora {
    display: flex;
    align-items: center;
    width: 64%;
    margin: 20px auto;
    gap: 20px;
}

.linha-separadora span {
    color: #fff;
    white-space: nowrap;
}

.linha {
    flex: 1;
    height: 2px;
    background-color: #3533cd;
}

/* Corpo da pagina */

.conteudo-principal .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px; 
    padding-top: 20px;
    
}

.conteudo-principal .artigo {
    display: flex;
    gap: 40px;
    align-items: center;
}

.conteudo-principal .img-artigo {
    width: 250px;
    height: 190px;
    background-color: #8c52ff;
    border-radius: 12px;
}

.conteudo-principal .conteudo-artigo {
    max-width: 930px;
    overflow-wrap: break-word;
}

.conteudo-principal .conteudo-artigo p {
    margin-top: 5px;
    font-family: 'Arapey', sans-serif;
}

/* Pagina Cursos */

.lista-cursos .container {
    display: flex;
    flex-direction: column;
    gap: 40px; 
    padding: 20px;
    justify-content: center;
    max-width: 1200px;
}

.lista-cursos .curso {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.lista-cursos .curso a {
    position: relative;
    display: block;
    width: 200px;
    height: 290px;
    border-radius: 12px;
    overflow: hidden;
    background: linear-gradient(90deg,#3533cd, #cb6ce6);
    transition: transform 0.3s ease, box-shadow 0.1s ease;
}

.lista-cursos .curso a:hover {
    transform: scale(1.06);
    box-shadow: 0 8px 16px rgba(0,0,0,0.3);
    background-color: #6f3ee0; 
    opacity: 0.9;
    cursor: pointer;
}

.lista-cursos .curso img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* garantir q a img n distorça */
}

.lista-cursos .play-icon {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0,0,0,0.7);
    color: white;
    font-size: 12px;
    padding: 10px 100%;
    cursor: pointer;
}

/* Servicos */

.lista-servicos .container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: center;
    max-width: 1255px;
}

.lista-servicos .linha-separadora {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 20px auto;
    gap: 20px;
}

.lista-servicos li{
    font-family: 'Arapey', sans-serif;
}

.lista-servicos .descricao {
    margin-left: 5px;
    font-size: 16px;
}

.lista-servicos .button-servico {
    background: linear-gradient(90deg, #cb6ce6, #5e17eb);
    color: #fff;
    width: 20%;
    height: 35px;
    border-radius: 50px;
    margin-top: 40px;
    cursor: pointer;
    border: none;
    font-size: 12px;
    margin-bottom: 30px;
}

.lista-servicos .button-servico:hover {
    transform: scale(1.03);
    box-shadow: 0 8px 16px rgba(0,0,0,0.3);
    opacity: 0.8;
}

/* Sobre */

.sobre-cybersafe .container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 40px;
    align-items: center;
}


.sobre-cybersafe h2, h3, ul, li, strong, p {
    font-family: 'Arapey', sans-serif;
    font-size: 18px;
    letter-spacing: 0.3px;
    max-width: 1200px;
}

.sobre-cybersafe strong {
    color: #8c52ff;
    font-weight: 600;
}

.sobre-cybersafe h2 {
    font-size: 25px;
    margin: 20px 0 30px;
}

/* FOOTER */

footer {
    color: #ffffff;
    margin-top: 40px;
}

footer .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 30px;
}

footer .contato {
    font-size: 16px;
}

footer .copyrights {
    font-size: 12px;
}

footer .copyrights a {
    color: #8c52ff;
    text-decoration: none;
}


footer .copyrights a:hover,
.contato a:hover {
    text-decoration: underline;
}

/* Responsividade para cell */

@media (max-width: 820px) {
    header nav {
        display: none;
    }

    header .container {
        flex-direction: row;
    }   

    header .logo {
        order: 3;
    }

    header .menuMobile {
        display: flex;
        order: 1;
    }

    header .img-perfil {
        filter: brightness(0) saturate(100%) invert(1);
        width: 20px;
        height: 35px;
        cursor: pointer;
        order: 2;
    }

    .linha-header {
        width: 100%;
    }

    /* Pagina Principal */

    .hero .container {
        flex-direction: column;
        align-items: center;
        padding: 20px;
        gap: 20px;
    }

    .hero .noticia {
        width: 100%;
        height: 250px;

    }

    .hero .noticia a {
        font-size: 16px;
        bottom: 30px;
        left: 20px;
        width: 90%;
    }

    .hero .seta {
        width: 35px;
        height: 35px;
        font-size: 24px;
    }

    /* Barrarinhas que conta paginas */

    .hero .indicadores-tracos {
        display: flex;
        gap: 3px;
        margin-bottom: 20px;
    }

    .hero .indicadores-tracos .traco {
        width: 20px;
        height: 4px;
        background-color: #555;
        border-radius: 2px;
    }

    .hero .indicadores-tracos .traco.ativo {
        background-color: #999;
    }

    .hero .noticia-lateral {
        flex-wrap: wrap;
        align-items: center;
        gap: 20px;
        width: 110%;
    }

    .hero .noticia-pequena {
        width: 90%;
        height: 90px;
    }

    .hero .noticia-lateral a {
        font-size: 14px;
        bottom: 20px;
        width: 70%;
    }

    .conteudo-principal .conteudo-artigo {
        width: 90%;
    }

    .conteudo-principal .conteudo-artigo h1, p {
        font-size: 13px;
        letter-spacing: 0.3px;
    }

    .conteudo-principal .img-artigo {
        width: 50%;
        height: 140px;
    }

    /* Cursos */

    .lista-cursos .curso a {
        width: 40%;
        flex-grow: 1;
        max-width: 150px;
    }

    /* Servicos */

    .lista-servicos .button-servico {
        width: 100%;
    }

    /* Linha separadora */

    .linha-separadora {
        width: 90%;
    }

    /* Sobre */

    .sobre-cybersafe .container {
        max-width: 90%;
    }

    /* Footer */

    footer .container {
        text-align: center;
    }
}